<% if signed_in? %>
    <h1>Home</h1>
    <div class="row">
      <div class="span6 offset3">
        <ul>
          <li><%= link_to 'Datacenters',  datacenters_path %></li>
          <li><%= link_to 'Positions',    positions_path %></li>
          <li><%= link_to 'Keys',         keys_path %></li>
          <% if current_user.admin? %>
            <li><%= link_to 'Users',      users_path %></li>
          <% end %>
          <hr />
          <li><%= link_to 'Locations',    locations_path %></li>
          <li><%= link_to 'Hardware',     hardwares_path %></li>
          <li><%= link_to 'Purchases',    purchases_path %></li>
          <li><%= link_to 'Parameters',   parameters_path %></li>
        </ul>
      </div>
    </div>
<% else %>
    <div class="center hero-unit">
      <h1>Welcome to the HWinv</h1>
      <%= link_to "Sign up", signup_path,
                  class: "btn btn-large btn-primary" %>
    </div>
<% end %> 