<% provide(:title, 'Positions') %>
<h1>Positions</h1>
<div class="row">
  <div class="span6 offset3">
    <table class='table table-hover'>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>

      <% @positions.each do |position| %>
        <tr>
          <td><%= position.name %></td>
          <td>
            <% if current_user.admin? %>
              <%= render 'shared/edit_button',   path: edit_position_path(position) %>
              <%= render 'shared/delete_button', path: position_path(position) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <br />

    <% if current_user.admin? %>
      <%= render 'shared/new_button', path: new_position_path %>
    <% end %>
    <%= render 'shared/back_button', path: root_path %>
  </div>
</div>