<div class="row">
  <div class="span6 offset3">
    <%= form_for(@server_rack) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :datacenter_id %>
      <%= f.select(:datacenter_id, options_from_collection_for_select(Datacenter.all, :id, :name)) %>
      <%= f.submit yield(:button_text), class: "btn btn-large btn-primary" %>
      <%= link_to 'Back', server_racks_path, class: "btn btn-large" %>
    <% end %>
  </div>
</div>