<div class="row">
  <div class="span6 offset3">
    <%= form_for([@datacenter, @server_rack, @rack_unit]) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :row_number %>
      <%= f.number_field :row_number %>
      <%= f.submit yield(:button_text), class: "btn btn-large btn-primary" %>
      <%= link_to 'Back', datacenter_server_rack_rack_units_path(@datacenter, @server_rack), class: "btn btn-large" %>
    <% end %>
  </div>
</div>