<% provide(:title, 'Rack units') %>
<h1><%= @datacenter.name %></h1>
<h2><%= @server_rack.name %></h2>
<h3>Server racks</h3>

<div class="row">
  <div class="span6 offset3">
    <table class='table table-hover'>
      <tr>
        <th>Row number</th>
        <th>Actions</th>
      </tr>

      <% @rack_units.each do |rack_unit| %>
        <tr>
          <td><%= rack_unit.row_number %></td>
          <td>
            <% if current_user.admin? %>
              <%= render 'shared/edit_button',   path: edit_datacenter_server_rack_rack_unit_path(@datacenter,
                                                                                                  @server_rack,
                                                                                                  rack_unit) %>
              <%= render 'shared/delete_button', path: datacenter_server_rack_rack_unit_path(@datacenter,
                                                                                             @server_rack,
                                                                                             rack_unit) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <br />

    <% if current_user.admin? %>
      <%= render 'shared/new_button', path: new_datacenter_server_rack_rack_unit_path %>
    <% end %>
    <%= render 'shared/back_button', path: datacenter_server_racks_path(@datacenter) %>
  </div>
</div>