<% provide(:title, 'Purchases') %>
<h1>Purchases</h1>
<div class="row">
  <div class="span10 offset1">
    <table class='table table-hover'>
      <tr>
        <th>Name</th>
        <th>Purchased at</th>
        <th>Warranty until</th>
        <th>Price</th>
        <th>Currency</th>
        <th>Hardware</th>
        <th>Actions</th>
      </tr>

      <% @purchases.each do |purchase| %>
        <tr>
          <td><%= purchase.name %></td>
          <td><%= purchase.purchased_at %></td>
          <td><%= purchase.warranty_until %></td>
          <td><%= purchase.price %></td>
          <td><%= purchase.currency %></td>
          <td><%= purchase.hardware_id %></td>
          <td>
            <% if current_user.admin? %>
              <%= render 'shared/edit_button',   path: edit_purchase_path(purchase) %>
              <%= render 'shared/delete_button', path: purchase_path(purchase) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <br />

    <% if current_user.admin? %>
      <%= render 'shared/new_button', path: new_purchase_path %>
    <% end %>
    <%= render 'shared/back_button', path: root_path %>
  </div>
</div>