<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @purchase.name %>
</p>

<p>
  <b>Purchased at:</b>
  <%= @purchase.purchased_at %>
</p>

<p>
  <b>Warranty until:</b>
  <%= @purchase.warranty_until %>
</p>

<p>
  <b>Price:</b>
  <%= @purchase.price %>
</p>

<p>
  <b>Currency:</b>
  <%= @purchase.currency %>
</p>

<p>
  <b>Hardware:</b>
  <%= @purchase.hardware_id %>
</p>


<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
