<h1>Listing datacenters</h1>

<table>
  <tr>
    <th>Address</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @datacenters.each do |datacenter| %>
  <tr>
    <td><%= datacenter.address %></td>
    <td><%= datacenter.name %></td>
    <td><%= link_to 'Show', datacenter %></td>
    <% if current_user.admin? %>
      <td><%= link_to 'Edit', edit_datacenter_path(datacenter) %></td>
      <td><%= link_to 'Destroy', datacenter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if current_user.admin? %>
  <%= link_to 'New Datacenter', new_datacenter_path %>
<% end %>