<div class="row">
  <div class="span6 offset3">
    <%= hidden_field_tag(:location_data, @location_data) %>
    <%= hidden_field_tag(:hardware_data, @hardware.get_data_json) %>
    <%= form_tag @hardware.id.nil? ? hardwares_path : @hardware , class: 'hardware', method: (@hardware.id.nil? ? :post : :put) do %>
      <%= render 'shared/error_messages', object: @hardware %>
      <%= label_tag :name %>
      <%= text_field_tag :name, @hardware.name %>

      <%= field_set_tag('Purchase information') do %>
        <%= radio_button_tag(:purchase, 'no', !@hardware.has_purchase?) %>
        <%= label_tag(:purchase_no, 'No purchase info') %>

        <br />
        <br />

        <%= radio_button_tag(:purchase, 'yes', @hardware.has_purchase?) %>
        <%= label_tag(:purchase_yes, 'Fill in purchase details') %>

        <br />
        <br />

        <%= content_tag(:div, id: 'purchase_div') do %>
          <%= label_tag :purchase_name %>
          <%= text_field_tag :purchase_name, @purchase.name %>

          <%= label_tag :price %>
          <%= text_field_tag :price, @purchase.price %>

          <%= label_tag :currency %>
          <%= text_field_tag :currency, @purchase.currency %>

          <%= label_tag 'Purchased at' %>
          <%= date_select(:purchased_at, 'date', start_year: Date.current.year,
                                                 end_year: 2000,
                                                 include_blank: @purchase.purchased_at.nil?,
                                                 default: @purchase.purchased_at) %>

          <%= label_tag 'Warranty until' %>
          <%= date_select(:warranty_until, 'date', start_year: Date.current.year + 10,
                                                   end_year: 2000,
                                                   include_blank: @purchase.warranty_until.nil?,
                                                   default: @purchase.warranty_until) %>
        <% end %>

      <% end %>

      <%= field_set_tag('Physical location') do %>
        <%= radio_button_tag(:location, 'parent', @hardware.has_parent? || @hardware.id.nil?) %>
        <%= label_tag(:location_parent, 'As a child hardware') %>

        <br />
        <br />

        <%= radio_button_tag(:location, 'physical', !@hardware.has_parent? && !@hardware.id.nil?) %>
        <%= label_tag(:location_physical, 'Select physical location') %>

        <br />
        <br />

        <%= content_tag(:div, id: 'parent_hardware_div') do %>
          <%= label_tag :parent_hardware, 'Parent hardware' %>
          <%= select_tag(:parent_hardware, options_for_select(@hardwares, @hardware.parent_hardware_id), include_blank: true,
                                                                           name: 'parent_hardware_id') %>
        <% end %>

        <%= content_tag(:div, id: 'positions_div') do %>
          <%= label_tag :position, 'Position' %>
          <%= select_tag(:position, options_for_select(@positions, @hardware.position_id), include_blank: true,
                                                                    name: 'position_id') %>
        <% end %>

        <%= content_tag(:div, id: 'datacenters_div') do %>
          <%= label_tag :datacenter %>
          <%= select_tag(:datacenter, options_for_select(@datacenters), include_blank: true,
                                                                        name: 'datacenter_id') %>
        <% end %>

        <%= content_tag(:div, id: 'server_racks_div') do %>
          <%= label_tag :server_rack %>
          <%= select_tag(:server_rack, '', include_blank: true,
                                           name: 'server_rack_id') %>
        <% end %>

        <%= content_tag(:div, id: 'rack_units_div') do %>
          <%= label_tag :rack_unit %>
          <%= select_tag(:rack_unit, '', include_blank: true,
                                         multiple:      true,
                                         size:          10,
                                         name:          'rack_unit_ids[]') %>
        <% end %>

      <% end %>

      <%= field_set_tag('Parameters', id: 'parameters_fieldset') do %>
        <%= content_tag(:div, class: 'parameter_div') do %>
          <%= label_tag :key %>
          <%= select_tag(:key, options_for_select(@keys), include_blank: true,
                                                          name:          'key_ids[]',
                                                          class:         'key_select') %>
          <%= label_tag :parameter, 'Value' %>
          <%= text_field_tag :parameter, '', name: 'values[]' %>
        <% end %>

        <%= content_tag(:div, class: 'parameter_div') do %>
          <%= label_tag :key %>
          <%= select_tag(:key, options_for_select(@keys), include_blank: true,
                                                          name:          'key_ids[]',
                                                          class:         'key_select') %>
          <%= label_tag :parameter, 'Value' %>
          <%= text_field_tag :parameter, '', name: 'values[]' %>
        <% end %>
      <% end %>

      <%= submit_tag yield(:button_text), class: "btn btn-large btn-primary" %>
      <%= link_to 'Back', hardwares_path, class: "btn btn-large" %>
    <% end %>
  </div>
</div>