<% provide(:title, 'Hardwares') %>
<h1>Hardwares</h1>
<div class="row">
  <div class="span6 offset3">
    <table class='table table-hover'>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>

      <% @hardwares.each do |hardware| %>
        <tr>
          <td><%= hardware.name %></td>
          <td>
            <% if hardware.has_purchase? %>
              <%= render 'shared/button', path: edit_purchase_path(hardware.purchase), title: 'Edit purchase', icon: 'shopping-cart' %>
            <% end %>
            <% if current_user.admin? %>
              <%= render 'shared/edit_button',   path: edit_hardware_path(hardware) %>
              <%= render 'shared/delete_button', path: hardware_path(hardware) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <br />

    <% if current_user.admin? %>
      <%= render 'shared/new_button', path: new_hardware_path %>
    <% end %>
    <%= render 'shared/back_button', path: root_path %>
  </div>
</div>